/* 
My Amends to standard Bootstrap LESS/CSS etc for 
the WSAiLab project
It's best to copy them here rather than edit the original
I learned this from experience! 
AL 18/06/16 

*/ 

// Override colors 

@paper-color:				#f5f5f5; // eggshell
@feature2-color:			#829092; // greygreen
@feature1-color:			#0e2928; // navy
@accent-color:				#b5313c; // red
@base-text-color:			#828081; // tin


//## Settings for some of the most global styles
@body-bg:               @paper-color; //AL
@text-color:            @base-text-color; //AL
@link-color:            @feature2-color; //AL
@link-hover-color:      @accent-color; //AL

// Link hover decoration
@link-hover-decoration: none; //AL

/*Fonts*/
@font-family-sans-serif:  "Freight-Sans-Pro", sans-serif; //AL
@font-family-serif:       "Freight-Text-Pro", serif; //AL
@font-family-monospace:   "Courier New", monospace;

/*Base font details*/
@font-family-base:        	@font-family-serif; //AL
@font-size-base:          	16px; //AL
@font-weight-base:			300;	// light AL	
@text-color:            	@base-text-color; //AL 


/*Headings*/
@headings-font-family:    @font-family-sans-serif; //AL
@headings-font-weight:    700; // bold AL
@headings-line-height:    1.1;
@headings-color:          @feature2-color; //AL

@font-size-large:         ceil((@font-size-base * 1.25)); 
@font-size-small:         ceil((@font-size-base * 0.85)); 

@font-size-h1:            floor((@font-size-base * 2.6)); 
@font-size-h2:            floor((@font-size-base * 2.15));
@font-size-h3:            ceil((@font-size-base * 1.7)); 
@font-size-h4:            ceil((@font-size-base * 1.25));
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85));


//== Navbar


//##

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             			@base-text-color; //AL 
@navbar-default-bg:               			transparent; //AL 
@navbar-default-border:            			none; //AL 

// Navbar links
@navbar-default-link-color:                @paper-color; //AL
@navbar-default-link-hover-color:          @accent-color; //AL
@navbar-default-link-hover-bg:             rgba(255, 255, 255, 0.4); //AL
@navbar-default-link-active-color:         @accent-color; //AL
@navbar-default-link-active-bg:            transparent; //AL
@navbar-default-link-disabled-color:       @feature2-color; //AL
@navbar-default-link-disabled-bg:          transparent; //AL

// Navbar brand label
@navbar-default-brand-color:               @accent-color; //AL
@navbar-default-brand-hover-color:         @accent-color; //AL
@navbar-default-brand-hover-bg:            rgba(255, 255, 255, 0.4); //AL

// Navbar toggle - Hamburger menu variables
@navbar-default-toggle-hover-bg:           rgba(255, 255, 255, 0.4); //AL
@navbar-default-toggle-icon-bar-bg:        @paper-color; //AL
@navbar-default-toggle-border-color:       transparent; //AL




.navbar-toggle {
	background-color: @accent-color;
}


// Original dropdown menu for resources designed out & used tabs instead - neater
// AL 05/07/16
// Dropdowns
//
// Dropdown menu container and contents.

// Background for the dropdown menu.
@dropdown-bg:                    transparent; //AL
// Dropdown menu `border-color`.
@dropdown-border:                none; //AL
// Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       none; //AL

@dropdown-link-color:            @paper-color; //AL
@dropdown-link-hover-color:      @accent-color; //AL
@dropdown-link-hover-bg:         rgba(255, 255, 255, 0.4); //AL 
@dropdown-divider-bg:				@accent-color; //AL
@dropdown-link-active-color:     @component-active-color;
// Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

// Tabs
@nav-tabs-border-color:                     @paper-color; //AL

@nav-tabs-link-hover-border-color:          @paper-color; //AL

@nav-tabs-active-link-hover-bg:             @accent-color; //AL
@nav-tabs-active-link-hover-color:          @paper-color; //AL
@nav-tabs-active-link-hover-border-color:   @paper-color; //AL

@nav-tabs-justified-link-border-color:       	transparent; //AL
@nav-tabs-justified-active-link-border-color:     transparent; //AL



body {
	font-weight: @font-weight-base;
}

.bgimage {
	background-image:	url('../images/ilab0001e.jpg');
	background-position: center center;
	background-size: cover;
	min-height: 100px;
	/*height: 300px;*/
}

.navbar, .navbar-collapse {
	font-family: @font-family-sans-serif;
	font-size: @font-size-base * 1.6;
	font-weight: 500;
	padding-left: 15px;
}


.navbar li:hover, .navbar-collapse li:hover{
		text-decoration: @link-hover-decoration;
		background-blend-mode:normal;
}

.navbar-brand {
	font-family: @font-family-sans-serif;	
	font-size: @font-size-base * 3.2; 
	font-weight: 700;
	padding-left:0px;
	background-color: transparent;
}

.nav-tabs li {
	font-family: @font-family-sans-serif;
	background-color: @paper-color;	
	font-size: @font-size-base * 1.2;
	font-weight: 500;
	border-radius: 0;
}

.nav-tabs li a {
	color: @base-text-color;
} 


.nav-tabs li a:hover {
	color: @accent-color;
	background-color: @paper-color;
}

.tabs {
	border-width: 5px;
}

hr {
    height: 1px;
    background-color: @feature2-color;
    width: 100%;
}

footer {
	background-color: @accent-color;

}

#contactUs, #licence, #authorDate, #top {
	text-align: center;
}

a {
	font-weight: @font-weight-base+300;
}

#footbox p, #footbox a {
	background-color: transparent;
	font-family: @font-family-sans-serif;
	color: @paper-color;
	font-size: @font-size-base * 1.2;	
	font-weight: 300;
}

footer {
	padding-top: 5px;
	margin-bottom: 0px;
}

#footbox a:hover {
	color: @feature1-color;
}

#licence  a{
	font-weight: 100;

}

#ccIcons {
	text-align: center;
	font-size: xx-large;
}

/*LARGER SCREENS ONLY */

@media screen and (min-width: 768px){

	.bgimage {
		background-image:	url('../images/ilab0001e.jpg');
		background-position: center center;
		background-size: cover;
		height: 300px;
	}

  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
      display: block;
   }
   .dropdown-menu{
      margin-top: 0px;
   }
   .dropdown-toggle{
      margin-bottom: 2px;
   }
   .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
      margin-bottom: 0;
   }
   #contactUs p {
    	text-align: left;
    	transform: translateY(5px);
    	text-decoration-style: normal;
   }
	#licence p {
    	text-align: center;
    	transform: translateY(5px);
    	line-height: 50%;
   }

   #authorDate p {
    	text-align: right;
    	transform: translateY(5px);
   }

	#top p {
   	text-align: center;
   	transform: translateY(5px);	
   }

   #shortLinks {
	margin-left: -25px;
	}

	.fontChange {
	font-family: @font-family-serif;
}
}

#resources a h4, #resources a h5{
   	margin-top: 0px;
   	margin-bottom: 0px;
   }

 #resources a:hover h4, #resources a:hover h5{
 		color: @accent-color;
   	margin-top: 0px;
   }

.img-right-space {
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px; 
}

#innerRowRight h4 {
	text-align: left;
	margin-left: 0px;
	margin-top: 0px;
}

#shortLinks h2 {
	color: @accent-color;
	text-align: center;
	font-size: 50px;
	margin-top: 0px;
}

.link-list {
	list-style-type: none;
	list-style-image: none;
}




